body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/168/852/original/cloud-back.jpg?1750695294");
  background-size: cover;
  background-repeat: none;
  font-family: "Quicksand", sans-serif;
  color: rgba(0, 0, 0, 0.557);
}
.weather-app {
  background-color: rgba(255, 255, 255, 0.708);
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 8px;
}
