body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/168/852/original/cloud-back.jpg?1750695294");
  background-size: cover;
  background-repeat: none;
  font-family: "Quicksand", sans-serif;
  color: rgba(0, 0, 0, 0.557);
}
.weather-app {
  background-color: rgba(255, 255, 255, 0.708);
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  border-radius: 20px;
  box-shadow: -12px 10px 20px rgba(0, 0, 0, 0.2);
}
.search-bar {
  padding: 30px;
  padding-top: 50px;
  display: block;
  text-align: center;
}
.search-input {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  width: 80%;
  border: none;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.557);
}
.search-button {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #81bdc4;
  color: #fff;
}
.weather-city {
  font-size: 40px;
  margin: 0px;
  color: rgba(0, 0, 0, 0.606);
}
.weather-data {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px 40px 50px;
  border-bottom: solid 1px rgba(177, 169, 169, 0.09);
}
p {
  margin: 0 auto;
  margin-top: 5px;
}
strong {
  color: #ea99ab;
}

.weather-temp-container {
  display: flex;
  margin: 0;
}
.weather-app-icon {
  width: 120px;
  margin-right: -8px;
  margin-top: -18px;
}
.weather-temp-value {
  font-size: 88px;
  font-weight: bold;
  line-height: 1;
}
.temp-unit {
  font-size: 24px;
  margin-top: 17px;
  font-weight: bold;
}
footer {
  font-size: 11px;
  padding: 20px;
  text-align: center;
}
a {
  text-decoration: none;
  color: #ada9df;
  font-weight: bold;
}
